---
import Contactform from "@components/contactform.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import Layout from "@layouts/Layout.astro";
import { Icon } from "astro-icon/components";
const isDraft = true;  // Set to true to hide this section as a draft
---

<Layout title="Contact">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Contatta Buon Inglese</Fragment>
      <Fragment slot="desc">Compila il modulo.</Fragment>
    </Sectionhead>

    <div class="grid md:grid-cols-2 gap-10 mx-auto max-w-4xl mt-16">
      <div>
        <h2 class="font-medium text-2xl text-gray-800">Siamo qui per aiutarti</h2>
        <p class="text-lg leading-relaxed text-slate-500 mt-3">
          Stai pensando di iniziare un corso, o forse hai bisogno di aiuto in qualche altro modo. Faccelo sapere e saremo lieti di aiutarti.
        </p>
        <div class="mt-5">
          <div class="flex items-center mt-2 space-x-2 text-gray-600">
            <Icon class="text-gray-400 w-4 h-4" name="uil:map-marker" />
            <span>Via Calefati 6 Bari, BA 70121</span>
          </div><div class="flex items-center mt-2 space-x-2 text-gray-600">
            <Icon class="text-gray-400 w-4 h-4" name="uil:envelope" /><a
              href="mailto:info@buoninglese.com"
              >info@buoninglese.com</a
            >
          </div><div class="flex items-center mt-2 space-x-2 text-gray-600">
            {!isDraft && 
            (<Icon class="text-gray-400 w-4 h-4" name="uil:phone" />
              <a href="tel:+39 351 316 1625">+39 351 316 1625</a>
            )}
          </div>
        </div>
      </div>
      <div>
        <Contactform />
      </div>
    </div>
  </Container>
</Layout>
