---
// @ts-ignore
import { Icon } from "astro-icon/components";

const features = [
  {
    title: "Piano di apprendimento su misura",
    description:
      "Analizziamo insieme i tuoi obiettivi di apprendimento dell'inglese e creiamo un piano su misura per ottimizzare il tuo progresso.",
    icon: "bx:bxs-ruler",
  },
  {
    title: "Lezioni d'inglese nel cuore di Bari",
    description:
      "Le nostre lezioni si svolgono in una location centrale a Bari, facilmente raggiungibile, per un'esperienza di apprendimento comoda e accessibile.",
    icon: "bx:bxs-heart-circle",
  },
  {
    title: "Corsi d'inglese per ogni esigenza",
    description:
      "Offriamo corsi d'inglese personalizzati, tra cui moduli per la preparazione agli esami Cambridge e lezioni focalizzate sulla conversazione.",
    icon: "bx:bx-trip",
  },
  {
    title: "Comunica in modo chiaro ed efficace",
    description:
      "Lavoriamo per migliorare la tua capacità di esprimerti in inglese in modo chiaro e preciso, rafforzando la tua fiducia nella comunicazione.",
    icon: "bx:bxs-message-alt-check",
  },
  {
    title: "Innovazione continua",
    description:
      "Siamo impegnati nell'applicazione delle migliori pratiche didattiche, per offrire ai nostri studenti metodi di insegnamento innovativi e altamente efficaci.",
    icon: "bx:bxs-file-find",
  },
  {
    title: "Supera le sfide dell'apprendimento",
    description:
      "Ti supportiamo nel superare le difficoltà, dandoti gli strumenti per comprendere e comunicare meglio in inglese, sia a livello personale che professionale.",
    icon: "bx:bxs-crown",
  },
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Lezioni e corsi privati nel centro di Bari
  </h2>
  <p class="text-lg mt-4 text-slate-600">
     
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
